.navbar-nav{margin-right: auto;margin-left: auto;}

.nav-link{
    font-size: 20px;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.active{font-weight:500;}

a.nav-link:hover {
    background-color: antiquewhite;
    color: #0f0e0e !important;
    font-weight: 500;
}

div#whoweare {
    margin-top: 100px;
    margin-bottom: 100px;
}

#fitvid0{width: 100%; height: 100%;}

.a-home-whoweare{
    text-decoration: none;
    background: #f32020;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
}

.a-home-whoweare:hover{
    background-color: #f3d1d1;
    color: red;
}

/*div#section{background-color: tan;}*/

#section{background-image: url('../images/section1.jpg'); color: white;}

div#section .section_col{
    padding: 20px;
}

.carousel2{margin-top: 100px;
    margin-bottom: 100px;background-color:#9d9c994a;;
    padding-top: 100px;
    padding-bottom: 100px;}
.carousel-content{text-align: center; }
.p-carousel{padding: 20px;font-size: 20px;font-family: sans-serif;}
.h6-carousel{padding: 20px; margin-bottom:30px;}
.footer{background-color: tan;padding-top: 20px;
    padding-bottom: 20px;font-family: sans-serif;
}
.footer-top{margin-bottom:10px;}
.icon-container{text-align: center;padding: 20px;}
.icon-link{text-decoration: none; padding: 0 20px 0 0;
width: 20%;float: left;}
