{% extends 'parent.html' %}
{% load static %}
{% block title %}Gallery{% endblock title %}
{% block csslink %}
<link rel="stylesheet" href="{% static 'cssfiles/gallery.css' %}">
{% endblock csslink %}
{% block section %}
<div class="gallery-section gallery-odd">
    <h1 class="main-h">Environmental Efforts</h1><br>
    <div class="gallery-section-div">
        <br>
        <h2>Solar Power Plant :</h2>
        <div class="gallery-section-div-img">
            <img src="{% static 'images/gallery/img1.jfif' %}">
            <img src="{% static 'images/gallery/img2.jfif' %}">
            <img src="{% static 'images/gallery/img3.jfif' %}">
            <img src="{% static 'images/gallery/img4.jfif' %}">
        </div>
        <br><br>
    </div><br>
    <div class="gallery-section-div">
        <br>
        <h2>Save Water Campaign :</h2>
        <div class="gallery-section-div-img">
            <img src="{% static 'images/gallery/img5.jfif' %}">
        </div>
        <br><br>
    </div><br>
    <div class="gallery-section-div">
        <br>
        <h2>Save Paper Campaign :</h2>
        <div class="gallery-section-div-img">
            <img src="{% static 'images/gallery/img6.jfif' %}">
            <img src="{% static 'images/gallery/img7.jfif' %}">
            <img src="{% static 'images/gallery/img8.jfif' %}">
        </div>
        <br><br>
    </div><br>
</div>

<div class="gallery-section gallery-even">
    <h1 class="main-h">Philanthropic Efforts</h1>
    <br>
    <div class="gallery-section-div">
        <br>
        <h2>Education Sponsorship :</h2>
        <div class="gallery-section-div-img">
            <img src="{% static 'images/gallery/img21.jfif' %}">
        </div>
        <br><br>
    </div><br>
    <div class="gallery-section-div">
        <br>
        <h2>Support to Thalessemic India Society :</h2>
        <div class="gallery-section-div-img">
            <img src="{% static 'images/gallery/img22.jfif' %}">
            <img src="{% static 'images/gallery/img23.jfif' %}">
            <img src="{% static 'images/gallery/img24.jfif' %}">
        </div>
        <br><br>
    </div>
    <br>
    <div class="gallery-section-div">
        <br>
        <h2>Eshwar Child Foundation :</h2>
        <div class="gallery-section-div-img">
            <img src="{% static 'images/gallery/img25.jfif' %}">
            <img src="{% static 'images/gallery/img26.jfif' %}">
            <img src="{% static 'images/gallery/img27.jfif' %}">
        </div>
        <br><br>
    </div>
    <br>
    <div class="gallery-section-div">
        <br>
        <h2>Blood Donation :</h2>
        <div class="gallery-section-div-img">
            <img src="{% static 'images/gallery/img28.jfif' %}">
            <img src="{% static 'images/gallery/img29.jfif' %}">
            <img src="{% static 'images/gallery/img30.jfif' %}">
        </div>
        <br><br>
    </div><br>
</div>

<div class="gallery-section gallery-odd">
    <h1 class="main-h">Employee Engagement</h1>
    <br>
    <div class="gallery-section-div">
        <br>
        <h2>Sports Day 2019 :</h2>
        <div class="gallery-section-div-img">
            <img src="{% static 'images/gallery/img31.jfif' %}" />
            <img src="{% static 'images/gallery/img32.jfif' %}" />
            <img src="{% static 'images/gallery/img33.jfif' %}" />
            <img src="{% static 'images/gallery/img34.jfif' %}" />
        </div>
        <br><br>
    </div>
    <br>
    <div class="gallery-section-div">
        <br>
        <h2>Diwali Celebrations 2019 :</h2>
        <div class="gallery-section-div-img">
            <img src="{% static 'images/gallery/img35.jfif' %}" />
            <img src="{% static 'images/gallery/img36.jfif' %}" />
            <img src="{% static 'images/gallery/img37.jfif' %}" />
            <img src="{% static 'images/gallery/img38.jfif' %}" />
        </div>
        <br><br>
    </div>
    <br>
</div>

<div class="gallery-section gallery-even">
    <h1 class="main-h">Employee Training & Development</h1>
    <br>
    <div class="gallery-section-div">
        <br>
        <h2>Road Safety Week Celebration 2019 :</h2>
        <div class="gallery-section-div-img">
            <img src="{% static 'images/gallery/img41.jfif' %}" />
            <img src="{% static 'images/gallery/img42.jfif' %}" />
            <img src="{% static 'images/gallery/img43.jfif' %}" />
            <img src="{% static 'images/gallery/img44.jfif' %}" />
        </div>
        <br><br>
    </div>
    <br>
    <div class="gallery-section-div">
        <br>
        <h2>National Fire Service Week 2019 :</h2>
        <div class="gallery-section-div-img">
            <img src="{% static 'images/gallery/img45.jfif' %}" />
            <img src="{% static 'images/gallery/img46.jfif' %}" />
            <img src="{% static 'images/gallery/img47.jfif' %}" />
            <img src="{% static 'images/gallery/img48.jfif' %}" />
        </div>
        <br><br>
    </div>
    <br>
</div>
{% endblock section %}