{% extends 'parent.html' %}
{% load static %}
{% block title %}Services{% endblock title %}
{% block csslink %}
<link rel="stylesheet" href="{% static 'cssfiles/services.css' %}" />
{% endblock csslink %}
{% block section %}
    <div class="container-fluid services-section">
        <div class="row">
            <div class="col-md-3 col-12 services-section-col">
                <img src="{% static 'images/services/img1.png' %}" class="services-img "/>
            </div>
            <div class="col-md-9 col-12 services-section-col">
                <ul>
                    <li>Complying with EN 365 of PPE Directives, which lays down the compulsion of having ‘Competent Authority’ inspect the Fall Protection Equipment at least once annually, KARE focusses on responsible after-sales services which include Inspection and revalidation of Personal Protective Equipment (PPE), Service and Repair of Retractable Fall Arrestor Blocks and Inspection, Repair and Revalidation of Fixed Line Systems (FLS) on an annual basis.</li>
                    <li>Maintains competent and vigorous after sale service establishments throughout India.</li>
                    <li>Has trained its personnel with adequate skills, resources and knowledge in re-inspection and re-validation.</li>
                </ul>
            </div>
            <div class="col-md-8 col-12 services-section-col col-color">
                <ul>
                    <li>Unstoppable since the time of its inception in the year 2016.</li>
                    <li>With Three Mobile Studios, KARAM is set out on its goal that no worker is left unsafe within the boundaries of India.</li>
                    <li>Together the two Mobile Studios have covered more than 800 Top Indian Companies by providing Exclusive on Site Safety demonstrations and raised awareness to their nearly 1 lac plus workers.</li>
                    <li>Spanning all across India with its continued safety journey.</li>
                    <li>Has “Hydraulic Testing Rig” to demonstrate Dynamic fall Test to educate workers on the usage of Fall protection equipment.</li>
                </ul>
            </div>
            <div class="col-md-4 col-12 services-section-col col-color">
                <img src="{% static 'images/services/img2.png' %}" class="services-img" />
            </div>
            <div class="col-md-3 col-12 services-section-col">
                <img src="{% static 'images/services/img3.jpg' %}"  class="services-img img-id"/>
            </div>
            <div class="col-md-9 col-12 services-section-col">
                <ul>
                    <li>76,300+ Trainers on Fall Protection and Rescue Competency</li>
                    <li>Associate member of Industrial Rope Access Trade Association, UK (IRATA).</li>
                    <li>Premium member of British Safety Council</li>
                    <li>South East Asia’s only GWO (Global Wind Organization) approved training provider.</li>
                    <li>Approved Training Provider (ATP) of TRARAsia, Singapore.</li>
                    <li>Only organization in India to impart training as per NFPA standards on Technical Rescue: NFPA 1670 and NFPA 1006.</li>
                    <li>Experienced faculty of 25+ local language trainers.</li>
                    <li>EN certified, latest training equipment.</li>
                    <li>Latest and EN certified training equipment.</li>
                    <li>State-of-the-art-center in Noida (Delhi, NCR) and Chittorgarh, Rajasthan.</li>
                    <li>25,500 sq. ft. dedicated facility with Advanced Simulation of Height, Confined Space and Rescue with fully equipped training halls.</li>
                    <li>Standards Followed – IRATA ICOP, GWO Basic Safety Training Standard, TRARASIA C – TRAIL, BS 8454:2006 ‘ Code of Practice for delivery of training and Education for work at height and Rescue.</li>
                    <li></li>
                    <li>Vodafone Standards VOD001, VOD002.1</li>
                </ul>
            </div>
            <div class="col-md-6 col-12 services-section-col col-color">
                <ul>
                    <li>Specialized Portal for selling KARAM products online.</li>
                    <li>Free shipping on and above shipping Rs. 500</li>
                    <li>Has doorstep delivery.</li>
                    <li>Facility of delivery all across India.</li>
                    <li>Has single piece order option available.</li>
                    <li>Comes with Easy payment options.</li>
                </ul>
            </div>
            <div class="col-md-6 col-12 services-section-col col-color">
                <img src="{% static 'images/services/img4.png' %}"  class="services-img2 img-id2"/>
            </div>
        </div>
    </div>
{% endblock section %}
