{% extends 'parent.html' %}
{% load static %}
{% block title %}Videos{% endblock title %}
{% block csslink %}
<link rel="stylesheet" href="{% static 'cssfiles/videos.css' %}">
{% endblock csslink %}
{% block section %}
<div class="section-videos">
    <div class="section-div">
        <h2 class="videos-h">Protective Workwear</h2>
        <iframe loading="lazy" src="https://www.youtube.com/embed/X9Fqt4Gkkn0?rel=0&amp;wmode=opaque" frameborder="0" allowfullscreen="allowfullscreen" class="iframe"></iframe>
    </div>
    <div class="section-div">
        <h2 class="videos-h">Hand Protection</h2>
        <iframe loading="lazy" src="https://www.youtube.com/embed/MBzMCuKIJrM?rel=0&amp;wmode=opaque" frameborder="0" allowfullscreen="allowfullscreen" class="iframe"></iframe>
        <iframe loading="lazy" src="https://www.youtube.com/embed/daWI2QJAhBQ?rel=0&amp;wmode=opaque" frameborder="0" allowfullscreen="allowfullscreen" class="iframe"></iframe>
    </div>
    <div class="section-div">
        <h2 class="videos-h">Head Protection</h2>
        <iframe loading="lazy" src="https://www.youtube.com/embed/IsNo6F3gNHw?rel=0&amp;wmode=opaque" frameborder="0" allowfullscreen="allowfullscreen" class="iframe"></iframe>
        <iframe loading="lazy" src="https://www.youtube.com/embed/0jccJoDZzss?rel=0&amp;wmode=opaque" frameborder="0" allowfullscreen="allowfullscreen" class="iframe"></iframe>
    </div>
    <div class="section-div">
        <h2 class="videos-h">Harnesses & Belts</h2>
        <iframe loading="lazy" src="https://www.youtube.com/embed/9YIauz6qzYI?rel=0&amp;wmode=opaque" frameborder="0" allowfullscreen="allowfullscreen" class="iframe"></iframe>
        <iframe loading="lazy" src="https://www.youtube.com/embed/fo5AEXZ5LSA?rel=0&amp;wmode=opaque" frameborder="0" allowfullscreen="allowfullscreen" class="iframe"></iframe>
    </div>
    <div class="section-div">
        <h2 class="videos-h">Anchorages</h2>
        <iframe loading="lazy" src="https://www.youtube.com/embed/OilzNgkMsHI?wmode=opaque" frameborder="0" allowfullscreen="allowfullscreen" class="iframe"></iframe>
        <iframe loading="lazy" src="https://www.youtube.com/embed/ZzNIA4P23wY?wmode=opaque" frameborder="0" allowfullscreen="allowfullscreen" class="iframe"></iframe>
    </div>
    <div class="section-div">
        <h2 class="videos-h">Temporary Anchorage Line System</h2>
        <iframe loading="lazy" src="https://www.youtube.com/embed/DARcGP4llwM?wmode=opaque" frameborder="0" allowfullscreen="allowfullscreen" class="iframe"></iframe>
        <iframe loading="lazy" src="https://www.youtube.com/embed/Q2Udx55lC-s?wmode=opaque" frameborder="0" allowfullscreen="allowfullscreen" class="iframe"></iframe>
    </div>
    <div class="section-div">
        <h2 class="videos-h">Fixed Line system</h2>
        <iframe loading="lazy" src="https://www.youtube.com/embed/j7iykeVfHmo?wmode=opaque" frameborder="0" allowfullscreen="allowfullscreen" class="iframe"></iframe>
        <iframe loading="lazy" src="https://www.youtube.com/embed/Wb_RX__gCJg?wmode=opaque" frameborder="0" allowfullscreen="allowfullscreen" class="iframe"></iframe>
    </div>
    <div class="section-div">
        <h2 class="videos-h">Retractable Fall Arrest Block</h2>
        <iframe loading="lazy" src="https://www.youtube.com/embed/ssws349Y_gI?wmode=opaque" frameborder="0" allowfullscreen="allowfullscreen" class="iframe"></iframe>
        <iframe loading="lazy" src="https://www.youtube.com/embed/eAZlzUjb5eQ?wmode=opaque" frameborder="0" allowfullscreen="allowfullscreen" class="iframe"></iframe>
    </div>
    <div class="section-div">
        <h2 class="videos-h">Confined Space Entry</h2>
        <iframe loading="lazy" src="https://www.youtube.com/embed/08iPxyXpRwc?wmode=opaque" frameborder="0" allowfullscreen="allowfullscreen" class="iframe"></iframe>
        <iframe loading="lazy" src="https://www.youtube.com/embed/f-OlxjRO4Ds?wmode=opaque" frameborder="0" allowfullscreen="allowfullscreen" class="iframe"></iframe>
    </div>
    <div class="section-div">
        <h2 class="videos-h">Rope Access & Rescue</h2>
        <iframe loading="lazy" src="https://www.youtube.com/embed/QQBeSv9uAcg?wmode=opaque" frameborder="0" allowfullscreen="allowfullscreen" class="iframe"></iframe>
        <iframe loading="lazy" src="https://www.youtube.com/embed/UQ-Tj05siIY?wmode=opaque" frameborder="0" allowfullscreen="allowfullscreen" class="iframe"></iframe>
    </div>
</div>
{% endblock section %}
